body {
  background-color: rgb(253, 239, 222);
}

h1 {
  font-weight: bolder;
}

.container {
  margin: 0 auto;
  max-width: 90vw;
  padding: 10vw;
}

img {
  height: 0vw;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
}

.accordion {
  padding: 1vw;
}

.accordion-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    cursor: pointer;
    border-top: 0.01em solid rgb(182, 182, 182);
  }

.accordion-header-wrapper{
  display: flex;
  flex-direction: row;
  gap: 50vw;
}

  .accordion-toggle {
    font-size: 1.5em;
    font-weight: bolder;
    transition: transform 0.3s ease-in-out;
  }
  
  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + .accordion-header .accordion-title {
    color: blue;
  }

  input[type="radio"]:checked + .accordion-header .accordion-title {
    color: black;
  }

  input[type="radio"] + .accordion-header .accordion-toggle {
    visibility: hidden;

  }

  input[type="radio"]:checked + .accordion-header .accordion-toggle {
    transform: rotate(45deg);
  }

  .accordion:hover .accordion-header .accordion-toggle {
    visibility: visible;
  }

  .accordion:hover .accordion-header .accordion-title {
    color: black;
  }

  input[type="radio"]:hover + .accordion-header .accordion-toggle {
    visibility: visible;
    transform: rotate(45deg);
  }

  label:hover img {
    height: 30vw;
  }

  input[type="radio"]:checked + .accordion-header img {
    height: 30vw;
  }

  input[type="radio"]:active + .accordion-header .accordion-title {
    color: blue;
  }

  input[type="radio"]:active + .accordion-header .accordion-toggle {
    color: blue;
  }
  
@media only screen and (max-width: 320px) {
    .container {
      font-size: xx-small;
    }
}

@media only screen and (min-width: 321px) and (max-width: 820px) {
    .container {
      font-size: medium;
    }
}

@media only screen and (min-width: 821px) and (max-width: 1920px) {
    .container {
      font-size: large;
    }
}

@media only screen and (min-width: 1921px) {
    .container {
      font-size: xx-large;
    }
}